/*********** TYPOGRAPHY **************/

html {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
		Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
	line-height: 1.5;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

input,
textarea {
	@apply appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight;
}

input:focus,
textarea:focus {
	@apply bg-white border-gray-500;
}

button {
	@apply flex-shrink-0 border-transparent border-4 text-gray-500 text-sm py-1 px-2 rounded;
}

button:hover {
	@apply text-gray-800;
}

select {
	@apply block appearance-none w-full bg-white border border-gray-400  px-4 py-2 pr-8 rounded shadow leading-tight;
}

select:hover {
	@apply border-gray-500;
}

select:focus {
	@apply outline-none;
}

.btn-primary {
	@apply bg-blue-500 text-white font-bold py-2 px-4 border-b-4 border-blue-700 rounded;
}

.btn-primary:hover {
	@apply bg-blue-400 border-blue-500;
}

/*********** LIGHT MODE **************/

body.light-mode {
	--main-bg: #fafafc;
	--note-bg: #ffffff;
	--text: #1a202c;
	--separator: #e2e8f0;
	--shadow: rgba(0, 0, 0, 0.1);
	--link: #3182ce;

	/* References */
	--references-bg: #ebf4ff;
	--references-bg-80: rgb(235, 244, 255, 0.8);
	--references-bg-0: rgb(235, 244, 255, 0);
	--references-text: #718096;
	--references-highlight: #4a5568;
}

/************ DARK MODE **************/

body.dark-mode {
	--main-bg: #000000;
	--note-bg: #0a0d11;
	--text: #fafafc;
	--separator: #252525;
	--shadow: rgba(255, 255, 255, 0.1);
	--link: #3da1ff;

	/* References */
	--references-bg: #17181a;
	--references-bg-80: rgba(23, 24, 26, 0.8);
	--references-bg-0: rgba(23, 24, 26, 0);
	--references-text: #8c9fbb;
	--references-highlight: #b3cbf0;
}
